html[data-bs-theme="dark"] body {
    color: white;
}
html[data-bs-theme="dark"] .logo-iai-light{
    display: none;
}
html[data-bs-theme="dark"] .logo-iai-dark{
    display: block;
}
html[data-bs-theme="dark"] .text-dark, 
html[data-bs-theme="dark"] label,
html[data-bs-theme="dark"] .input-icon .feather{
    color: white !important;
}
html[data-bs-theme="dark"] .input-icon input, html[data-bs-theme="dark"] .form-select{
    border: 1px solid rgba(255, 255, 255, 0.4);
}
html[data-bs-theme="dark"] body, html[data-bs-theme="dark"], html[data-bs-theme="dark"] .form-select option{
    background-color: #140B0B;
}
html[data-bs-theme="dark"] .card{
    background-color: #1E1818;
}
html[data-bs-theme="dark"] .form-control:focus{
    background-color: #09020269;
}
html[data-bs-theme="dark"] nav {
    background-color: #1E1818;
}
html[data-bs-theme="dark"] .sidebar .list-group-item {
    background-color: transparent;
}
html[data-bs-theme="dark"] .sidebar .list-group-item.active {
    color: #E84D4D;
    background-color: #e84d4d2a;
    border-color: transparent;
}
html[data-bs-theme="dark"] .sidebar, html[data-bs-theme="dark"] .dropdown .dropdown-menu {
    background-color: #1E1818;
}

html[data-bs-theme="dark"] .text-success {
    color: rgb(155, 232, 12) !important;
}

.btn-primary, ::selection{
    background-color: #E84D4D;
    color: white;
}
.pointer {
    cursor: pointer;
}
.btn-primary:hover, .btn-primary:active, .btn-primary:focus, .btn-check:checked+.btn {
    background-color: #ca4343 !important;
    background: #ca4343 !important;
}
.form-control, .form-select{
    background-color: transparent;
}
.input-icon input{
    border: 1px solid #C6C5C8;
}
.input-icon input:focus, .form-check-input, .form-control:focus, .form-select:focus, .btn-outline-primary {
    border: 1px solid #E84D4D !important;
}
.btn-check+.btn:hover, .btn-outline-primary {
    color: #576168;
}
.btn-check:checked+.btn:hover {
    color: white;
}
.img-result:hover{
    background-color: rgba(128, 128, 128, 0.1);
}
.form-check-input:checked {
    background-color: #E84D4D;
    border-color: #E84D4D;
}
.form-check-input:focus{
    border: 1px solid #E84D4D;
}
.input-icon .feather, label{
    color: #576168;
}
label,.text-smaller{
    font-size: smaller;
}
.bg-primary{
    background-color: #E84D4D !important;
}
.border-primary{
    border-color: #E84D4D !important;
}
.bg-soft-primary{
    background-color: #e84d4d2a !important;
}

.bg-soft-success {
    background-color: rgba(110, 197, 52, 0.1) !important;
}
.text-primary{
    color: #E84D4D !important;
}
body, html{
    color: #1E1E1E;
}
body{
    background: transparent;
}
html{
    background: #f1f1f14a;
}
.text-dark{
    color: #1E1E1E !important;
}
.border-dark{
    border-color: #1E1818 !important;
}
.logo-iai-dark{
    display: none;
}
.card-engine:hover{
    box-shadow: 0 0 0px 1px #E84D4D !important;
}
.card-engine:hover .card-engine-title {
    color: #E84D4D !important;
}
.card-engine:hover .badge.bg-secondary {
    background-color: #E84D4D !important;
    background: #E84D4D !important;
}

.text-success{
    color: rgb(110, 197, 52) !important
}

/* SIDEBAR */
nav{
    z-index: 99;
    height: 60px;
    background-color: white;
}
.dropdown-menu[data-bs-popper] {
    right: 10px !important;
    left: auto;
}
.dropdown-item.active, .dropdown-item.active:hover, .dropdown-item.active:focus{
    color: white;
    background-color: #E84D4D !important;
    background: #E84D4D !important;
}
.dropdown-item:focus, .dropdown-item:hover{
    color: #E84D4D;
    background-color: #e84d4d2a;
}
.sidebar {
    z-index: 98;
    background-color: white;
    padding-left: .5rem;
    padding-right: .5rem;
    width: 60px;
    position: fixed;
    left: 0px;
    height: 100%;
    transition: width 0.1s ease;
}
.sidebar.open, .sidebar:hover {
    width: 230px;
    left: 0;
}
.content.open {
    padding-left: 230px !important;
}
.content {
    padding-left: 70px !important;
}
.sidebar span,.sidebar .gap, .sidebar.open .dot, .sidebar:hover .dot, .sidebar .dropdown .text-dropdown, .sidebar .dropdown svg {
    display: none;
}
.sidebar .list-group-item {
    border-radius: 5px;
    display: flex;
    height: 40px;
    padding: 10px;
    justify-content: center;
    align-items: center;
}
.sidebar.open .gap, .sidebar:hover .gap, .sidebar .dot {
    margin-top: 8px;
}
.sidebar .gap, .sidebar .dot{
    margin-top: 8px;
}
.sidebar.open span, .sidebar:hover span, .sidebar.open .gap, .sidebar:hover .gap, .sidebar .dot, .sidebar.open .dropdown .text-dropdown, .sidebar.open .dropdown svg, .sidebar:hover .dropdown .text-dropdown, .sidebar:hover .dropdown svg {
    display: block;
}
.sidebar.open .list-group-item, .sidebar:hover .list-group-item {
    display: flex;
    justify-content: left;
    align-items: center;
}
.list-group-item.active {
    color: #E84D4D;
    background-color: #e84d4d2a;
    border-color: transparent;
}
@media screen and (max-width: 768px) {
    .sidebar {
        left: -70px;
    }
    .content,.content.open {
        padding-left: 0px !important;
    }
}
/* END SIDEBAR */

/* Tambahan */

.image-container {
    position: relative;
    display: inline-block;
}

.image-container:hover .tooltips {
    display: block;
    visibility: visible !important;
}


/* Sweet Alert */

html[data-bs-theme="dark"] body > div.swal2-container.swal2-center.swal2-backdrop-show > div, html[data-bs-theme="dark"] body > div.swal2-container.swal2-center.swal2-noanimation > div {
    background-color: #161111;
    color: white;
    width: 20em;
}

body > div.swal2-container.swal2-center.swal2-backdrop-show > div > div.swal2-actions > button.swal2-confirm.swal2-styled:focus {
    box-shadow: none;
}

button:where(.swal2-styled).swal2-confirm:focus {
    box-shadow: none;
}

body > div.swal2-container.swal2-center.swal2-backdrop-show > div {
    width: 20em;
}

body > div.swal2-container.swal2-center.swal2-backdrop-show > div > div.swal2-actions > button.swal2-confirm.swal2-styled, body > div.swal2-container.swal2-center.swal2-noanimation > div > div.swal2-actions > button.swal2-confirm.swal2-styled, body > div.swal2-container.swal2-center.swal2-noanimation > div > ul > li.swal2-progress-step.swal2-active-progress-step, body > div.swal2-container.swal2-center.swal2-noanimation > div > ul > li.swal2-progress-step-line, body > div.swal2-container.swal2-center.swal2-noanimation > div > ul > li:nth-child(1) {
    background-color: #E84D4D !important;
    color: white !important;
}

#swal2-select > option {
    color: black;
}

body > div.swal2-container.swal2-center.swal2-noanimation > div > ul > li:nth-child(3) {
    background-color: #fbe2e2 !important;
    color: #E84D4D !important;
}


[data-rmiz-modal-overlay="visible"] {
    background-color: black !important;
    opacity: 0.8 !important;
  }

html[data-bs-theme="dark"] .btn:disabled {
    background-color: #140B0B !important;
}

.btn:disabled {
    background-color: #0e0707 !important;
}

html[data-bs-theme="dark"] .uppy-Dashboard-AddFiles {
    background-color:  #140B0B !important;
    border: none !important;
}

.uppy-Dashboard-AddFiles {
    border: none !important;
}

html[data-bs-theme="dark"] .uppy-Dashboard-inner > div {
    background-color:  #140B0B !important;
    border: none !important;
    overflow: hidden !important;
}


html[data-bs-theme="dark"] .uppy-Dashboard-inner {
    background-color: #140B0B;
    border: none !important;
    overflow: hidden !important;
}


.uppy-Dashboard-inner {
    border: none !important;
    overflow: hidden !important;
}


html[data-bs-theme="dark"] .uppy-Dashboard-AddFiles-title {
    color: white;
}

html[data-bs-theme="dark"] .uppy-Dashboard-AddFiles-title > button {
    color: #E84D4D;
}

.uppy-Dashboard-AddFiles-title > button {
    color: #E84D4D;
}

.uppy-Dashboard-browse:focus, .uppy-Dashboard-browse:hover {
    border-bottom: none !important;
}

html[data-bs-theme="dark"] .uppy-DashboardContent-bar {
    background-color: #3f2121 !important;
    border: none;
}

.uppy-DashboardContent-bar {
    background-color: #fbe2e2 !important;
    border: none;
}

.uppy-DashboardContent-bar {
    border: none !important;
}

.uppy-DashboardContent-bar > div {
    color: #E84D4D;
}

.uppy-DashboardContent-back {
    color: #E84D4D;
}

button.uppy-DashboardContent-back:focus {
    background-color: #fbe2e2 !important;;
}

html[data-bs-theme="dark"] .uppy-DashboardContent-back:focus {
    background-color:#3f2121 !important;
}

body > div.container-fluid.d-flex.flex-column.vh-100.p-0.false > div > div > div.content.w-100 > div > div.card.border-0.outline-0.shadow-sm > div > div > div > div > div > div.uppy-Dashboard-inner > div > div.uppy-Dashboard-AddFilesPanel > div.uppy-DashboardContent-bar > button {
    color: #E84D4D;
}

body > div.container-fluid.d-flex.flex-column.vh-100.p-0.false > div > div > div.content.w-100 > div > div.card.border-0.outline-0.shadow-sm > div > div > div > div > div > div.uppy-Dashboard-inner > div > div.uppy-DashboardContent-bar > button.uppy-DashboardContent-back {
    color: #E84D4D;
}

button.uppy-DashboardContent-addMore {
    color: #E84D4D;
}


/* Pagination */

html[data-bs-theme="dark"] .page-link, .page-item {
    color: white !important;
    border: none;
    overflow: hidden;
    background-color: #1e1818;
}

.page-item {
    margin: 10px;
    min-width: 40px;
    text-align: center;
    border-radius: 5px;
}

.page-link, .page-item {
    color: #E84D4D !important;
    border: none;
    overflow: hidden;
}

html[data-bs-theme="dark"] .pagination {
    background-color: #1e1818;
    overflow: hidden;
    border: none;
    border-radius: 10px !important;
}

html[data-bs-theme="dark"] .page-link.active, .active > .page-link {
    background-color: #E84D4D !important;
}

.page-link.active, .active > .page-link {
    color: white !important;
}

.page-link:focus {
    box-shadow: none;
}

.form-control:focus {
    outline: unset;
    box-shadow: unset;
}

.btn-primary {
    border: unset;
}

.form-select:focus {
    border-color: unset;
    outline: 0;
    box-shadow: unset;
}

body > div.container-fluid.d-flex.flex-column.vh-100.p-0.false > div > div > div.content.w-100 > div > div.card.border-0.outline-0.shadow-sm > div > div > div > div > div > div.uppy-Dashboard-inner > div > div.uppy-DashboardContent-bar {
    z-index: 20;
}